/*fonts*/
@font-face {
	font-display: swap;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/rubik-v9-latin_cyrillic-regular.woff2") format("woff2"),
	url("../fonts/rubik-v9-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
	font-display: swap;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/rubik-v9-latin_cyrillic-500.woff2") format("woff2"),
	url("../fonts/rubik-v9-latin_cyrillic-500.woff") format("woff");
}
@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 500;
	src: url('../fonts/rubik-v9-latin-500italic.woff2') format('woff2'),
	url('../fonts/rubik-v9-latin-500italic.woff') format('woff');
}
@font-face {
	font-display: swap;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/rubik-v9-latin_cyrillic-700.woff2") format("woff2"),
	url("../fonts/rubik-v9-latin_cyrillic-700.woff") format("woff");
}

/*general styles*/
body {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Rubik", "Arial", sans-serif;
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}
.alert {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}
.alert-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	padding: 30px;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid #ff9000;
	background-color: #ffffff;
}
.alert-text {
	line-height: 1.5;
	text-align: center;
}
kbd {
	padding: 3px;
	margin: 0 5px;
	border-radius: 3px;
	border: 1px solid #ff9000;
}
.ok-button {
	padding: 8px 30px;
	background-color: #ff9000;
	border: none;
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
}
.alert-off {
	display: none;
}

/*header*/
.header {
	padding: 15px 0;
	color: #ffffff;
	background-color: #ff9000;
}
.container {
	max-width: 1260px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}
.input-wrapper {
	display: flex;
	align-items: center;
	background-color: #ffa633;
	border-radius: 3px;
	overflow: auto;
}
.add-button {
	padding: 0;
	margin-left: 10px;
	margin-right: 10px;
	background: none;
	border: none;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
}
.add-button-focus {
	box-shadow: 0 0 0 2px #fff;
}
.input-img {
	display: block;
	width: 20px;
	height: 20px;
}
.task-input {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	font-family: "Rubik", "Arial", sans-serif;
	color: #ffffff;
	border: none;
	background-color: #ffa633;
	transition: background-color 0.3s ease,
							color 0.3s ease;
}
	.task-input:hover,
	.task-input:focus {
		color: #202020;
		background-color: #ffffff;
		outline: none;
	}
	.task-input:hover .input-wrapper {
		border: 1px solid #ffffff;
	}
	.task-input::before {
		content: "";
		display: block;
		width: 20px;
		height: 20px;
		background-color: #ccc;
	}
.main {
	padding-top: 40px;
}
.all-tasks {
	color: #333333;
}
.tasks-heading {
	margin: 0;
	margin-bottom: 20px;
}
.tasks-list {
	display: flex;
	flex-direction: column-reverse;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.tasks-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
	padding-top: 15px;
	border-top: 1px solid #cccccc;
}
.done-button {
	display: block;
	width: 25px;
	height: 25px;
	margin-left: 5px;
	border-radius: 50%;
	border: 1px solid #202020;
	background: none;
	background-image: url("../img/check-black.png");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	background-size: contain;
	cursor: pointer;
}
	.done-button:focus,
	.done-button:hover {
		background-image: url("../img/check-white.png");
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: contain;
		background-size: contain;
		border-color: #ff9000;
		background-color: #ff9000;
		outline: none;
	}
	.done-button:active {
		box-shadow: 0 0 0 2px #ff9000;
	}
.button-img {
	display: block;
	padding: 0;
}
.task-text {
	width: 95%;
	margin: 0;
}